doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title New
body
  each article in articles
    .wrapper
      div= article.title
      div= article.client
      div= article.projectUrl
      div= article.imageUrl
      div!= article.content
      div= article.completionDate
      div= article.share
      form(action="/admin/article/edit/#{article._id}")
        button Edit
      form(action="/admin/article/edit/#{article._id}?_method=DELETE", method="POST")
        button Delete



  